package components

templ Index() {
	<div class="max-container z-10">
		<div class="flex flex-row justify-between md:justify-start items-center py-3"></div>
	</div>
	<div class="flex flex-col items-center justify-center h-full">
		<h1 class="text-4xl font-bold text-primary-light">Welcome to the index page</h1>
		<p class="text-lg text-primary-light">This is the index page</p>
	</div>
}
