html, body {
    /*background: rgb(176, 70, 50);*/
    background: #999999;
    font-family: 'Roboto', sans-serif;
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.footer {
    font-size: 12;
}

.App {
    min-height: 100vh; 
    height: 100%;
    width: 100%;
}

.App {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.main .content {
    flex: 12 0 0;
    align-items: center;
    justify-content: center;
    flex-basis: 20em;
    padding: 0 20px 10px 20px;
}

.listIndent {
    text-indent: 50px;
}

.gridList {
    width: 100%;
    overflow-y: auto;
}

.entryTile {
    cursor: pointer;
}

.entryCard {
    min-height: 40vh;
    margin: 5px 20px 0 20px;
}

.entryCard .topActions {
    display: inline-block;
    width: 100%;
    height: 40px;
}

.bottomActions {
    height: 40px;
}

.entryCard .content {
    min-height: 30%;
    margin: 5px 5px 0 5px;
}

.moveEntryCard {
    margin: 5px 20px 0 20px;
}

.vaultList {
    max-height: 60%;
}

.notes {
    overflow-y: auto;
}

.vaultCard {
    min-height: 20vh;
    margin-top: 10px;
}

.font18 {
    font-size: 18px;
}

.breakWrap {
    word-wrap: break-word;
}

.ellipses {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.scrollableY {
    overflow-y: auto;
}

.size100 {
    height: 100%;
    width: 100%;
}

.flexContainerCol {
    display: flex;
    flex-direction: column;
}

.flexContainerRow {
    display: flex;
    flex-direction: row;
}

.flexSpread {
    /* Spread items to the far lef/right or top/bottom */
    justify-content: space-between;
}

.flexRowVTop {
    align-items: flex-start;
}

.flexRowVCenter {
    align-items: center;
}

.flexRowVBottom {
    align-items: flex-end;
}

.flexRowHLeft {
    justify-content: flex-start;
}

.flexRowHCenter {
    justify-content: center;
}

.flexRowHRight {
    justify-content: flex-end;
}

.flexColHTop {
    align-items: flex-start;
}

.flexColHCenter {
    align-items: center;
}

.flexColHBottom {
    align-items: flex-end;
}

.flexColVLeft {
    justify-content: flex-start;
}

.flexColVCenter {
    justify-content: center;
}

.flexColVRight {
    justify-content: flex-end;
}

.flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flexScrollAuto {
    overflow: auto;
}

.flex1 {
    flex: 1 0 0;
}

.flex2 {
    flex: 2 0 0;
}

.flex3 {
    flex: 3 0 0;
}

.flex4 {
    flex: 4 0 0;
}

.flexWrap {
    display: flex;
    flex-wrap: wrap;
}

.actionButton {
    margin: 0 10px 0 10px;
}

.mTop5 {
    margin-top: 5px;
}

.mSides5 {
    margin-left: 5px;
    margin-right: 5px;
}

.mBottom5 {
    margin-bottom: 5px;
}

.mLeft5 {
    margin-left: 5px;
}

.mTop10 {
    margin-top: 10px;
}

.mTop40 {
    margin-top: 40px;
}

.mTop15vh {
    margin-top: 15vh;
}

.mSides10 {
    margin-left: 10px;
    margin-right: 10px;
}

.mBottom10 {
    margin-bottom: 10px;
}

.mLeft10 {
    margin-left: 10px;
}

.pTop5 {
    padding-top: 5px;
}

.pSides5 {
    padding-left: 5px;
    padding-right: 5px;
}

.pBottom5 {
    padding-bottom: 5px;
}

.pLeft5 {
    padding-left: 5px;
}

.pTop10 {
    padding-top: 10px;
}

.pSides10 {
    padding-left: 10px;
    padding-right: 10px;
}

.pBottom10 {
    padding-bottom: 10px;
}

.pLeft10 {
    padding-left: 10px;
}

.width100 {
    width: 100%;
}

.width95 {
    width: 95%;
}

.width90 {
    width: 90%;
}

.height90 {
    height: 90%
}

.height100 {
    height: 100%;
}

.widthMax50 {
    max-width: 50%;
}

.heightMax50 {
    max-height: 50%;
}

.heightMax65 {
    max-height: 65vh;
}

.floatLeft {
    float: left;
}

.floatCenter {
    float: center;
}

.floatRight {
    float: right;
}

.alignLeft {
    text-align: left;
}
.alignCenter {
    text-align: center;
}

.alignRight {
    text-align: right;
}